language:
  node_js
node_js: '8'
install:
  - npm install -g yarn
  - yarn
  - yarn add -g codecov
script:
  - istanbul cover ./node_modules/mocha/bin/_mocha --reporter lcovonly -- -R spec
  - codecov
